
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: montserrat;
    box-sizing: border-box;
    background-color: bisque;
}

header{
    background-color: bisque;
    height: 10rem;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    padding:25px;

}
ul  {
    height: 10rem;
    display: flex;

}

li{
    margin-top: 10%;
}

.enlaceHeader{
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    margin-top: 20%;
    background-color: transparent;
    border: 0px;
    margin: 0px;
}

.enlaceHeader:hover{
    color:grey;
    text-decoration: none;
}

#monograma{
    font-family:'cinzel',serif;
    font-size: 40px;
    font-weight: bold;
    float: left;
    position: relative;
    margin-left: 5%;
    line-height: 27px;
    text-align: center;
    top: 30%;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    justify-content: space-evenly;
    align-content: space-evenly;
    height: 100%;
}

.card {
    margin: 10px 0px;
}

.card-title{
    font-size: 20px;
    font-weight: bold;
}

.card-img{
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input-group-text{
    width: 40%;
    background-color: black;
    color: bisque;
}

.form-select, .form-control{
    width: 60%;
}

.form-select{
    border-color: #c4c8ca;
}

.btnCrear {
    height: 40px;
    width: 90px;
    color:bisque;
    font-size: 15px;
    font-weight: bolder;
    background-color: black;
    border-radius: 10%;
    border: solid black 2px;
}

.btnCrear:hover{
    background-color: chocolate;
    color: black;
    border: chocolate;
}

#carrito{
    position: fixed;
    right: 0px;
    top: 0px;
    min-height: 100vh;
    min-width: 400px;
    background-color: white;
    display: none;
}

.boton-cerrar{
    height: 5vh;
    max-height: 5vh;
    min-height: 5vh;
}
.title-container, .comprar-carrito{
    height: 10vh;
    max-height: 10vh;
    min-height: 10vh;
}
.productos-carrito{
    height: 75vh;
    max-height: 75vh;
    min-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.carrito-vacio{
    color: #7a7e80;
}
#total-carrito{
    font-size: x-large;
    font-weight: bold;
}
footer{
    height: 300px ;
    width: 100%;
    background: linear-gradient(bisque,black);
}